@model IEnumerable<ACNbugtracker.Models.Project>

@using ACNbugtracker.Helper
@using ACNbugtracker.Models


@{
    var roleHelper = new UserRolesHelper();

    var projectHelper = new ProjectsHelper();
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProjectsUsers</title>
</head>
<body>
    <div class="panel-body">
        <table id="data-table-combine" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayName("Project Manager")
                    </th>
                    <th>
                        @Html.DisplayName("Developer(s)")
                    </th>
                    <th>
                        @Html.DisplayName("Submitter(s)")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {                   
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @foreach (var user in projectHelper.UserInRoleOnProject(item.Id, "ProjectManager"))
                            {
                                @user <br />
                            }
                        </td>
                        <td>
                            @foreach (var user in projectHelper.UserInRoleOnProject(item.Id, "Developer"))
                            {
                                @user <br />
                                <br />
                            }
                        </td>
                        <td>
                            @foreach (var user in projectHelper.UserInRoleOnProject(item.Id, "Submitter"))
                            {
                                @user <br />
                                <br />
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                            @if (User.IsInRole("Submitter"))
                            {
                                @: |
                                @Html.ActionLink("Create Ticket", "Create", "Tickets", new { projectId = item.Id }, null)
                            }
                            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                            {
                                @Html.ActionLink("CREATE NEW PROJECT", "Create")
                                @Html.ActionLink("ASSIGNMENT", "Details", new { id = item.Id }) 
}
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
