@using ACNbugtracker.Models
@using ACNbugtracker.Helper

@model IEnumerable<UserProfileViewModel>


@{
    ViewBag.Title = "MamageRoles";
    var roleHelper = new UserRolesHelper();
}

<h2>MANAGE ROLES FOR MULTIPLE USERS</h2>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-offset-2 col-md-5">
            @Html.ListBox("Users", null, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-md-offset-1 col-md-3">
            @Html.DropDownList("RoleName", null, "--Select Role--", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <button type="submit" value="Assign" btn btn-primary">Assign the User a Role Now</button>
    </div>
}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">User Index</strong>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Email</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>

                                <td>@Html.DisplayFor(modelItem => user.Email)</td>

                                <td>@Html.DisplayFor(modelItem => user.FirstName)</td>

                                <td>@Html.DisplayFor(modelItem => user.LastName)</td>

                                <td>@roleHelper.ListUserRoles(user.Id).FirstOrDefault()</td>

                            </tr>
                        }
                    </tbody>
                </table>
                @Html.ActionLink("Back to Dashboard", "Index", "Home")
            </div>
        </div>
    </div>

</div>