@using ACNbugtracker.Models
@using ACNbugtracker.Helper

@model IEnumerable<UserProfileViewModel>


@{
    ViewBag.Title = "ManageRoles";
    var roleHelper = new UserRolesHelper();
}


<br />
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Data Table</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered table-responsive-sm">
                            <thead>
                                <tr class="card-header">
                                    <th><strong class="card-title text-light">Email</strong></th>
                                    <th><strong class="card-title text-light">First Name</strong></th>
                                    <th><strong class="card-title text-light">Last Name</strong></th>
                                    <th><strong class="card-title text-light">Role</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>

                                        <td>@Html.DisplayFor(modelItem => user.Email)</td>

                                        <td>@Html.DisplayFor(modelItem => user.FirstName)</td>

                                        <td>@Html.DisplayFor(modelItem => user.LastName)</td>

                                        <td>@roleHelper.ListUserRoles(user.Id).FirstOrDefault()</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                        @Html.ActionLink("Back to Dashboard", "Index", "Home")
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>

<div class="col-md-12">
    <div class="card">
        <div class="card-header ">
            <strong class="card-title">MANAGE ROLES FOR MULTIPLE USERS</strong>
        </div>
        <div class="card-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-offset-2 col-md-5">
                        @Html.ListBox("Users", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-md-offset-1 col-md-3">
                        @Html.DropDownList("RoleName", null, "--Select Role--", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <button type="submit" value="Assign" btn btn-primary">Assign the User a Role Now</button>
                </div>
            }
        </div>
    </div>
</div>