@using ACNbugtracker.Models;
@using ACNbugtracker.Helper;

@model IEnumerable<UserProfileViewModel>
@{
    var roleHelper = new UserRolesHelper();

    var projectHelper = new ProjectsHelper();
}

    <div class="col-md-12">
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <table id="myTable" class="table">
                            <thead>
                                <tr class="card-header bg-success">
                                    <th>Avatar</th>
                                    <th>Email</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Current Role</th>
                                    <th>Current Project</th>
                                    <th>Link</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr class="card-header bg-white">
                                        <td class="avartar"><img src="@user.AvatarUrl" class="img" width="50" /></td>

                                        <td>@Html.DisplayFor(modelItem => user.Email)</td>

                                        <td>@Html.DisplayFor(modelItem => user.FirstName)</td>

                                        <td>@Html.DisplayFor(modelItem => user.LastName)</td>

                                        <td>@roleHelper.ListUserRoles(user.Id).FirstOrDefault()</td>

                                        @*<td>@projectHelper.IsUserOnProject(user.)FirstOrDefault()</td>*@

                                        <td>@Html.ActionLink("Manage User", "ManageUserRole", "Admin", new { userId = user.Id }, null)</td>


                                        <td>@Html.ActionLink("Assign User to a Project", "ManageUserProjects", "Admin", new { userId = user.Id }, null)</td>

                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
</div>