@{
   Layout = null;
}
    @model ACNbugtracker.Models.LoginViewModel

    <!DOCTYPE html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
    <!--[if gt IE 8]><!-->
    <html class="no-js" lang="en">
    <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Code Ninja Admin - HTML5 Admin Template</title>
        <meta name="description" content="ACN Admin - HTML5 Admin Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-icon.png">
        <link rel="shortcut icon" href="favicon.ico">


        <link rel="stylesheet" href="~/content/bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/font-awesome.min.css">
        <link rel="stylesheet" href="~/Content/themify-icons.css">
        <link rel="stylesheet" href="~/Content/flag-icon.min.css">
        <link rel="stylesheet" href="~/Content/cs-skin-elastic.css">

        <link rel="stylesheet" href="~/Content/style.css">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>



    </head>

    <body class="bg-dark">

        <div class="sufee-login d-flex align-content-center flex-wrap">
            <div class="container">
                <div class="login-content">
                    <div class="login-form">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-sm-12 bg-flat-color-2 text-center">
                                <h3>LOG INTO THE ACN BUG TRACKER</h3>
                            </div>
                            
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember Me
                                </label>
                                <label class="pull-right">
                                    @Html.ActionLink("Forgot your password?","ForgotPassword" , "Account")
                                </label>
                            </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30"><span>Sign in</span></button>
                                    </div>
                                    <div class="">
                                        <button class="btn btn-warning btn-flat m-b-30 m-t-30"><span><a href="@Url.Action("register")">Don't have account? Sign Up Here</a></span></button>
                                    </div>
                                    <p></p>
                                    <div class="">
                                        <button class="btn btn-danger btn-flat m-b-30 m-t-30"><span><a href="@Url.Action("DemoUser","Home")">Want Login as a Demo user?</a></span></button>
                                    </div>                             
                            <p>                        
                        </p>
                        }
                    </div>
                </div>
            </div>
        </div>

        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/popper.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/main.js"></script>
    </body>

</html>

