@model ACNbugtracker.Models.TicketComment

@{
    ViewBag.Title = "Delete";
}

<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Are you sure you want to delete this ticket comment?</strong>
        </div>
        <div class="card-body">
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Author.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Author.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Ticket.OwnerUserId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ticket.OwnerUserId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CommentBody)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CommentBody)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Created)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Created)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</div>


